$navbar-padding-x: .5rem;

@import "./scss/docs";

@import "@reboot-ui/istyle/scss/normalizers";

// @import "../../node_modules/prismjs/themes/prism-coy";
// @import "../../node_modules/prismjs/themes/prism-dark";
// @import "../../node_modules/prismjs/themes/prism-funky";
// @import "../../node_modules/prismjs/themes/prism-okaidia";
@import "../../node_modules/prismjs/themes/prism-solarizedlight";
// @import "../../node_modules/prismjs/themes/prism-tomorrow";
// @import "../../node_modules/prismjs/themes/prism-twilight";
// @import "../../node_modules/prismjs/themes/prism";

code, pre {
    /* &[class*=language-]:not([class*="language-html"]) */
    [class*=language-sh],
    [class*=language-powershell],
    [class*=language-ruby] {
        white-space: nowrap;
    }
}

.bg-navbar {
    background-color: #563d7c;
}

.bd-markdown-content {
    blockquote {
        @extend .bd-callout;
        @extend .bd-callout-info;
    }
}

.bd-clipboard + figure,
.bd-clipboard + figure > pre {
    transition: opacity .25s ease, height .1s ease-out;
}

.bd-clipboard.next-figure-hide + figure {
    height: 24px;
    overflow: hidden;

    > pre {
        opacity: 0;
    }
}

// .bd-clipboard {
//     float: left;

//     .btn-sample-collapse {
//         left: 1rem;
//     }
// }

.btn-sample-collapse {
    position: absolute;
    top: .5rem;
    min-width: 6rem;
    right: 0.5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    @include font-size(75%);
    // color: #818a91;
    // background-color: transparent;
    border: 0;
    @include border-radius();
  
    &:hover {
      color: $white;
      background-color: #027de7;
    }

    & + .btn-clipboard {
        display: none;
    }
  }

  .rbt-properties-table-wrapper {
    overflow-x: auto;

    > table {
        min-width: 780px;
    }
  }