$navbar-padding-x: .5rem;

@import "./scss/docs";

@import "../../packages/style/normalizers";

// @import "../../node_modules/prismjs/themes/prism-coy";
// @import "../../node_modules/prismjs/themes/prism-dark";
// @import "../../node_modules/prismjs/themes/prism-funky";
// @import "../../node_modules/prismjs/themes/prism-okaidia";
@import "../../node_modules/prismjs/themes/prism-solarizedlight";
// @import "../../node_modules/prismjs/themes/prism-tomorrow";
// @import "../../node_modules/prismjs/themes/prism-twilight";
// @import "../../node_modules/prismjs/themes/prism";

.bg-navbar {
    background-color: #563d7c;
}

.bd-markdown-content {
    blockquote {
        @extend .bd-callout;
        @extend .bd-callout-info;
    }
}

.bd-clipboard + figure {
    // @extend .collapse;
    transition: opacity .25s ease, height .1s ease-out;
}

.bd-clipboard.next-figure-hide + figure {
    // visibility: hidden;
    opacity: 0;
    height: 24px;
    overflow: hidden;
}

.btn-sample-collapse {
    position: absolute;
    top: .5rem;
    right: 3rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    @include font-size(75%);
    color: #818a91;
    background-color: transparent;
    border: 0;
    @include border-radius();
  
    &:hover {
      color: $white;
      background-color: #027de7;
    }
  }